$login-btn: #4caf50;
$login-btn-hover: #45a049;
$app-background-color: #400abe;
$app-btn-color: #007bff;
$app-button-hover-color: rgb(0, 31, 205);
$text-color: white;
$answers-color: rgb(22, 12, 110);
$timer-color: #140a97;
