@import '../settings/colors';
@import '../settings/font';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: $font-size-base;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: url('/background.jpg');
}

h1,
h2,
h3 {
    color: $text-color;
}

button {
    background-color: $app-btn-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    font-size: $font-size-base;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;

    &:hover {
        background-color: $app-button-hover-color;
    }
}
